rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /settings/{document} {
      allow read: if true;
      allow write: if true;
    }
    match /services/{document} {
      allow read: if true;
      allow write: if true;
    }
    match /orders/{document} {
      allow read, write: if true;
    }
  }
}
